# macOS
.DS_Store
.AppleDouble
.LSOverride
**/.DS_Store

# Editor directories and files
.idea
.vscode
*.swp
*.swo
*~

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv

# Logs
*.log

# Environment variables
.env
.env.local

# Build artifacts
dist/
build/
*.egg-info/
